header {
  height: 78px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

header span {
  cursor: pointer;
}

.loading {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  height: 100vh;
}

.main_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main_wrapper .image_wrapper {
  margin-left: 15px;
  margin-bottom: 15px;
}

.main_wrapper .image_wrapper img {
  width: 250px;
  height: 250px;
  cursor: pointer;
}
